In [16]:
# Setup
import pandas as pd
from pathlib import Path

#File to load
school_data = Path(r"C:\Users\artsy\OneDrive\Desktop\Pandas_Challenge\Pandas_Challenge\Resources\schools_complete.csv") 
student_data = Path(r"C:\Users\artsy\OneDrive\Desktop\Pandas_Challenge\Pandas_Challenge\Resources\students_complete.csv")

#Read school and student data file and store into pandas dataframes
school_data = pd.read_csv(school_data)
student_data = pd.read_csv(student_data)

#Combine the data into a single dataset. 
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [17]:
#Calculate the total number of unique schools
school_count = school_data["school_name"].nunique()
print(school_count)

15

In [18]:
student_count = student_data["student_name"].nunique()
print(student_count)

32715

In [19]:
# Calculate the total budget
budget_total = school_data["budget"].sum()
print(budget_total)

24649428

In [20]:
# Calculate the mean math score
print(school_data.columns)
print(student_data.columns)

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')
Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score'],
      dtype='object')

In [21]:
average_math_score = student_data["math_score"].mean()
print(average_math_score)

78.98537145774827

In [22]:
# This will show the average(mean) reading scores of the data. 
average_reading_score = student_data["reading_score"].mean()
print(average_reading_score)

81.87784018381414

In [23]:
# What is the percentage of students who passed math?
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

89.77533241632278

In [24]:
# What is the percent of students who passed reading?
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 7)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

119.7310102399511

In [25]:
# What is the overall percentage of students who passed both math and reading?
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

78.031484028733

In [26]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    "total schools": [school_count],
    "total students": [student_count],
    "total budget": [budget_total],
    "average math score": [average_math_score],
    "average reading score": [average_reading_score],
    "% passing math": [passing_math_percentage],
    "% passing reading": [passing_reading_percentage],
    "overall passing rate": [overall_passing_rate],
    })

# Formatting
district_summary["total students"] = district_summary["total students"].map("{:,}".format)
district_summary["total budget"] = district_summary["total budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,total schools,total students,total budget,average math score,average reading score,% passing math,% passing reading,overall passing rate
0,15,"32,715","$24,649,428.00",78.985371,81.87784,89.775332,119.73101,78.031484

In [27]:
##SCHOOL SUMMARY

In [36]:
# School Types formula
school_type = school_data[["type","school_name"]]
school_type = school_type.set_index("school_name")
print(school_type)

                           type
school_name
Huang High School      District
Figueroa High School   District
Shelton High School     Charter
Hernandez High School  District
Griffin High School     Charter
Wilson High School      Charter
Cabrera High School     Charter
Bailey High School     District
Holden High School      Charter
Pena High School        Charter
Wright High School      Charter
Rodriguez High School  District
Johnson High School    District
Ford High School       District
Thomas High School      Charter

In [35]:
#The total student count per school.
students_per_school = school_data_complete.groupby("school_name")["student_name"].count()
print(students_per_school)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [34]:
# Calculate the total school budget per school
per_school_budget = school_data_complete.groupby("school_name")["budget"].sum()

# Calculate the per capita spending per school
per_school_capita = per_school_budget / school_data_complete.groupby("school_name").size()
per_school_capita

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
dtype: float64